body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #ffc0cb;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;
}

.input-container {
  position: relative;
  margin-bottom: 10px;
}

#passwordDisplay {
 
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  padding-right: 40px;
}

#copyIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}

.checkbox-group label {
  flex: 1 1 48%;
  margin: 5px 0;
}

#passwordLength {
  width: 60px;
  margin-left: 10px;
}

#generateButton {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notification {
  margin-top: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  display: none;
}
